.advantages {
  padding: 94px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__box {
    background-color: #f5f4fa;
    border-radius: $borderRadiusDefault;
    padding: 25px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.7;
    color: $tertiaryColorGrey;
  }
}

/* -------------------- RESPONSIVE MOBILE -------------------- */

@media (max-width: 480px) {
  .advantages {
    padding: 60px 15px;
  }

  .advantages__list {
    flex-wrap: wrap;
  }

  .advantages__title {
    text-align: center;
  }
}

/* -------------------- END RESPONSIVE MOBILE -------------------- */
